<table>
  <thead>
    <th>Id</th>
    <th>Pageviews</th>
    <th>IP address</th>
    <th>Referrer</th>
    <th>Amount of visits</th>
    <th>Device</th>
    <th>Browser</th>
    <th>Version</th>
    <th>Mobile</th>
  </thead>

    <% Visitor.all.each do |v| %>
      <tbody>
    <td><%= v.id %></td>
    <td><%= v.pageviews %></td>
    <td><%= v.ip_address %></td>
    <td><%= v.referrer %></td>
    <td><%= v.numberofvisits %></td>
    <td><%= v.device %></td>
    <td><%= v.browser %></td>
    <td><%= v.browserversion %></td>
    <td><%= v.mobile %></td>

  </tbody>
   <%end%>
</table>

<br>

<table>
  <thead>
    <th>Chrome</th>
    <th>Firefox</th>
    <th>Safari</th>
    <th>IE</th>
    <th>Other</th>  
  </thead> 
  <tbody>
    <td id="chrome"> <%= @chrome %></td>
    <td id="firefox"> <%= @firefox %></td>
    <td id="safari"> <%= @safari %></td>
    <td id="ie"> <%= @ie %></td>
    <td id="other"> <%= @other_browsers %></td>
  </tbody>
</table>
<canvas id="browserchart" width="500" height="300"></canvas>

<br>


<table>
  <thead>
    <th>Total Visitors</th>
    <th>New Visitors</th>
    <th>Returning Visitors</th>
  </thead> 
  <tbody>
    <td id="totalvisitors"> <%= @total_visitors %></td>
    <td id="newvisitors"> <%= @new_visitors %></td>
    <td id="returningvisitors"> <%= @returning_visitors %></td>
  </tbody>
</table>
<canvas id="returningchart" width="500" height="300"></canvas>
<br>

<table>
  <thead>
    <th>Mobile Visitors</th>
    <th>Non-mobile Visitors</th>
  </thead>
  <tbody>
    <td><%= @mobile %></td>
    <td><%= @nonmobile %> </td>
  </tbody>
</table>
<br>
<canvas id="mobilechart" width="500" height="300"></canvas>