<table>
  <thead>
    <th>Id</th>
    <th>Pageviews</th>
    <th>IP address</th>
    <th>Referrer</th>
    <th>Amount of visits</th>
    <th>Device</th>
    <th>Browser</th>
    <th>Version</th>
    <th>Mobile</th>
  </thead>

    <% Visitor.all.each do |v| %>
      <tbody>
    <td><%= v.id %></td>
    <td><%= v.pageviews %></td>
    <td><%= v.ip_address %></td>
    <td><%= v.referrer %></td>
    <td><%= v.numberofvisits %></td>
    <td><%= v.device %></td>
    <td><%= v.browser %></td>
    <td><%= v.browserversion %></td>
    <td><%= v.mobile %></td>

  </tbody>
   <%end%>
</table>