<%= include_gon %>
<h2>Visits by Location </h2>
<div id="map-container" style="height:500px; width:900px">
  <div id="map-canvas" style="width: 100%; height: 100%"></div>
</div>
<%= @lat_long_array %>
<br>

<div id="browserstats">
<h2>Visits by Browser </h2>
  <canvas id="browserchart" width="500" height="300"></canvas>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Chrome</th>
      <th>Firefox</th>
      <th>Safari</th>
      <th>IE</th>
      <th>Other</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td id="chrome"> <%=  @browser_data[:chrome] %></td>
      <td id="firefox"> <%= @browser_data[:firefox] %></td>
      <td id="safari"> <%= @browser_data[:safari] %></td>
      <td id="ie"> <%= @browser_data[:ie] %></td>
      <td id="other"> <%= @browser_data[:other]  %></td>
    </tr></tbody>
  </table>
</div>

<br>
<div id="Return Visitors">
<h2>New vs. Returning Visitors </h2>
  <canvas id="returningchart" width="500" height="300"></canvas>
  <table class="table table-striped">
    <thead>
      <th>Total Visitors</th>
      <th>New Visitors</th>
      <th>Returning Visitors</th>
    </thead>
    <tbody>
      <td id="totalvisitors"> <%= @return_data[:total] %></td>
      <td id="new_visitors"> <%= @return_data[:new] %></td>
      <td id="returning_visitors"> <%= @return_data[:returning] %></td>
    </tbody>
  </table>
</div>
<br>

<div id="mobilevisits">
<h2>Mobile vs. Non-Mobile Visitors </h2>
<canvas id="mobilechart" width="500" height="300"></canvas>
<table class="table table-striped">
  <thead>
    <th>Mobile Visitors</th>
    <th>Non-mobile Visitors</th>
  </thead>
  <tbody>
    <td id="mobile_visits"><%= @mobile_data[:mobile] %></td>
    <td id="nonmobile_visits"><%= @mobile_data[:nonmobile] %> </td>
  </tbody>
</table>
</div>
<br>

<h2>All Stats:</h2>
<table class="table table-striped">
  <thead>
    <th>Pageviews</th>
    <th>Referrer</th>
    <th>Amount of visits</th>
    <th>Device</th>
    <th>Browser</th>
    <th>Version</th>
  </thead>

    <% Visitor.all.each do |v| %>
      <tbody>
    <td><%= v.pageviews %></td>
    <td><%= v.referrer %></td>
    <td><%= v.numberofvisits %></td>
    <td><%= v.device %></td>
    <td><%= v.browser %></td>
    <td><%= v.browserversion %></td>
  </tbody>
   <%end%>
</table>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCA1GYmGXezjpFAXkESQ0uB-DsL34WUduM&sensor=false">
  </script>
  <script type="text/javascript" src="assets/pindrops.js"></script>
